.staff {
  width: 100vw;
  height: 30vh;
  align-items: center;
  background-color: antiquewhite;
}

@media (max-width: 600px) {
  .staff image {
    width: 15%;
    height: 25%;
  }

  .staff line {
    stroke-width: 1;
  }
}

@media (max-width: 400px) {
  .staff image {
    width: 20%;
    height: 20%;
  }

  .staff line {
    stroke-width: 0.8;
  }
}
